<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Custom CKEditor example</title>

  <!-- Vue -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>

  <!-- ClassicEditor -->
  <script src="https://cdn.ckeditor.com/ckeditor5/10.0.0/classic/ckeditor.js"></script>

  <!-- CustomEditor -->
  <script src="../custom-ckeditor.js"></script>

  <!-- VueCkeditor -->
  <script src="../../dist/vue-ckeditor5.js"></script>
</head>

<body>
  <div id="app"></div>

  <script>
    Vue.use(VueCkeditor.plugin, {
      editors: {
        'classic': ClassicEditor,
        'markdown': CustomEditor
      }
    })

    new Vue({
      el: '#app',
      data: {
        htmlContent: '<p><strong>html</strong><i>Content</i></p>',
        markdownContent: '**markdown**_Content_',
        markdownConfig: {
          language: 'ru'
        }
      },
      template: `
        <div>
          <vue-ckeditor type="classic" v-model="htmlContent"></vue-ckeditor><br /><br />
          <div>{{ htmlContent }}</div><br /><br />

          <vue-ckeditor :config="markdownConfig" type="markdown" v-model="markdownContent"></vue-ckeditor><br /><br />
          <div>{{ markdownContent }}</div>
        </div>
      `
    })
  </script>
</body>

</html>
